/* Global styles */
#cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

a {
    text-decoration: none;
}

/* Mobile menu styles */
.close-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: right;
    border: 2px blue;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid green;
    position: absolute;
    z-index: 1;
    /* i just made it this color for now so we can see */
    background-color: tomato;
    top: 0px;
    right: 0px;
    width: 30vh;
}

/* Issue landing styles */
#issue-landing-body {
    height: 100vh;
    border: 2px solid blue;
}

#main-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#main-container a {
    border: 2px solid purple;
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

/* Born-Digital styles */

.topbar {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 74px 0 74px;
}

.topbar img {
    height: 64px;
    width: 64px;
}

body {
    background: var(--Near-Black, #0D0D12);
}

#spiral-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#born-digital-body {
    height: 100vh;
    border: 2px solid blue;
}

.floatingNav {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    align-items: center;
}

.thumbnail-container {
    aspect-ratio: 1 / 1;
    width: 124px;
    overflow: hidden;
    border-radius: 100px;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Born Digital Artist Page Styles */

#orb-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.born-digital-page {
    padding: 148px 148px 74px 148px;
}

.born-digital-content {
    width: 100%;
    height: auto;
    box-sizing: border-box;

}

h1, h2, h3, p {
    color: var(--Off-White, #F5F5F7);
    ;
}

h1 {
    font-family: Michroma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    text-transform: uppercase;
}

h2 {
    font-family: Michroma;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 125% */
    text-transform: uppercase;
}

p {
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.piece-section {

    display: flex;
    flex-direction: column;
    gap: 92px;
    margin-bottom: 92px;
}

.view-piece-btn {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--Off-White, #F5F5F7);
    background: none;
}

.view-piece-btn a {
    color: var(--Off-White, #F5F5F7);
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.view-piece-btn svg {
    fill: #F5F5F7;
}

/* view piece button hover state */

.view-piece-btn:hover {
    border: 1px solid var(--Near-Black, #0D0D12);
    background: var(--Blue, #42A6FC);
    transition: all 0.3s ease;
}

.view-piece-btn:hover a {
    color: var(--Near-Black, #0D0D12);
    transition: all 0.3s ease;
}

.view-piece-btn:hover svg {
    fill: var(--Near-Black, #0D0D12);
    transition: all 0.3s ease;
}

.heading-subheading-container {

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.subheading-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artist-section {

    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-bottom: 92px;
}

.artist-section img {
    height: 100%;
}

.artist-copy {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* Footer styles */
footer {

    text-align: center;
    color: #F5F5F7;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}