/* Global styles */
#cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

a {
    text-decoration: none;
}

/* Page Transition Styles */
.page-section {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.page-section.active {
    opacity: 1;
    pointer-events: auto;
}

.page-section.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Mobile menu styles */
.close-btn-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: right;
    border: 2px blue;
}

.hamburger-menu {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

    z-index: 999;
}

.menu-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid green;
    position: absolute;
    z-index: 999;
    /* i just made it this color for now so we can see */
    background-color: tomato;
    top: 0px;
    right: 0px;
    width: 30vh;
}

/* Issue landing styles */
#issue-landing-body {
    height: 100vh;
    border: 2px solid blue;
}

#main-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#main-container a {
    border: 2px solid purple;
    padding: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

/* Born-Digital styles */

.topbar {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 74px 0 74px;

    background: transparent;
}

.topbar img {
    height: 64px;
    width: 64px;
}

body {
    background: var(--Near-Black, #0D0D12);
}


#spiral-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#born-digital-body {
    height: 100vh;
    border: 2px solid blue;
}

.floatingNav {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    align-items: center;
}

.thumbnail-container {
    aspect-ratio: 1 / 1;
    width: 124px;
    overflow: hidden;
    border-radius: 100px;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Born Digital Artist Page Styles */

#orb-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.born-digital-page {
    padding: 148px 148px 74px 148px;
}

.born-digital-content {
    width: 100%;
    height: auto;
    box-sizing: border-box;

}

h1, h2, h3, p {
    color: var(--Off-White, #F5F5F7);
    ;
}

h1 {
    font-family: Michroma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 67.2px */
    text-transform: uppercase;
}

h2 {
    font-family: Michroma;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 125% */
    text-transform: uppercase;
}

p {
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.piece-section {

    display: flex;
    flex-direction: column;
    gap: 92px;
    margin-bottom: 92px;
}

.view-piece-btn {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--Off-White, #F5F5F7);
    background: none;
}

.view-piece-btn a {
    color: var(--Off-White, #F5F5F7);
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.view-piece-btn svg {
    fill: #F5F5F7;
}

/* view piece button hover state */

.view-piece-btn:hover {
    border: 1px solid var(--Near-Black, #0D0D12);
    background: var(--Blue, #42A6FC);
    transition: all 0.3s ease;
}

.view-piece-btn:hover a {
    color: var(--Near-Black, #0D0D12);
    transition: all 0.3s ease;
}

.view-piece-btn:hover svg {
    fill: var(--Near-Black, #0D0D12);
    transition: all 0.3s ease;
}

.heading-subheading-container {

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.subheading-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artist-section {

    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-bottom: 92px;
}

.artist-section img {
    height: 100%;
}

.artist-copy {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* Statelessness styles */

#statelessness-body {
    background: var(--statless-landing-grad, linear-gradient(180deg, #0D0D12 0%, #04164F 100%));
    position: relative;
    min-height: 100vh;
}

#statelessness-body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 4em;
}

#statelessnessGlobe {
    position: relative;

    width: 1728px;
    height: 1117px;

    background-image: url("../img/stateless-globe.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#globe-scroll {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* enables scrolling */
    position: relative;
    scroll-behavior: smooth;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#globe-scroll:active {
    cursor: grabbing;
}

.region {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    transform: translate(-50%, -50%);
}

.region svg {
    width: clamp(16px, 2vw, 32px);
    height: auto;
}

.region h3 {
    color: var(--Blue, #42A6FC);
    text-align: center;

    /* H3 */
    font-family: Michroma;
    font-size: clamp(16px, 2vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 121.429% */
    text-transform: uppercase;
}

.statelessModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--stateless-modal-bg, rgba(255, 255, 255, 0.9));
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
    max-width: min(26rem, 90vw);
}

@media (max-width: 767px) {
    .statelessModal {
        width: min(90vw, 24rem);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#basque {
    left: 15%;
    top: 42%;
}

#roma {
    left: 34%;
    top: 35%;
}

#kurds {
    left: 48%;
    top: 48%;
}

#palestinians {
    left: 12%;
    top: 63%;
}

#burkinabe {
    left: 12%;
    top: 80%;
}

#bidoon {
    left: 32%;
    top: 60%;
}

#biharis {
    left: 40%;
    top: 85%;
}

#maasai {
    left: 65%;
    top: 92%;
}

#tibetans {
    left: 69%;
    top: 68%;
}

#rohingya {
    left: 80%;
    top: 78%;
}

#uyghurs {
    left: 85%;
    top: 55%;
}

#hmong {
    left: 93%;
    top: 65%;
}

.statelessness-folio {
    background-color: #0D0D12;
    color: #F5F5F7;
}

.statelessness-folio h1 {
    font-family: Michroma;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
}

.statelessness-folio h2 {
    font-family: Michroma;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
}

/*
Source - https://stackoverflow.com/a/72992704
Posted by Roko C. Buljan, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-11, License - CC BY-SA 4.0
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    overflow: hidden;
    font-size: 2.5vmin;
    margin: 4em 0 4em 0;
}

.carousel-slider {
    display: flex;
    will-change: transform;
}

.carousel-slide {
    min-width: 100%;
    flex-shrink: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.carousel-slide img {
    display: block;
    width: 100%;
    height: 36em;
    object-fit: cover;
}

.carousel button {
    font-size: inherit;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 2em;
}

.carousel-next {
    right: 2em;
}

.carousel-navigation {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* Can use this for bullets if we want */
.carousel-bullet {
    display: none;
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-bullet.is-active {
    background: #1c69d3;
}

.carousel-image {
    width: 80%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.carousel-caption {
    margin-top: 1em;
    text-align: center;
    color: #F5F5F7;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carousel-poem {
    width: 800px;
    height: 500px;
    padding: 52px 72px 52px 72px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, #0D0D12 0%, #1F1F24 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #0D0D12 0%, #1F1F24 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #0D0D12 0%, #1F1F24 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #0D0D12 0%, #1F1F24 50%) top right / 50% 50% no-repeat;
    box-shadow: 0 0 60px 12px rgba(221, 225, 197, 0.15);
}

.artist-bio {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.artist-bio img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 2em;
}

/* Footer styles */
footer {
    z-index: 1000;
    text-align: center;
    color: #F5F5F7;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    background: transparent;
}